<section id="experience" class="card section">
<cv-section
  [title]="'Professional Experience'"
  [items]="experienceItems"
  type="experience"
></cv-section>
</section>

<section id="skills" class="card section">
<cv-section
  [title]="'Skills'"
  [items]="skillsItems"
  type="skills"
></cv-section>
</section>

<section id="education" class="card section">
<cv-section
  [title]="'Education'"
  [items]="educationItems"
></cv-section>
</section>

<section id="publications" class="card section">
<cv-section
  [title]="'Selected Publications'"
  [items]="publicationsItems"
></cv-section>
</section>

<section id="contact" class="card section">
<cv-section
  [title]="'Contact'"
  [items]="contactItems"
></cv-section>
</section>

<section id="languages" class="card section">
<cv-section
  [title]="'Languages'"
  [items]="languagesItems"
  type="languages"
></cv-section>
</section>

<section id="courses" class="card section">
<cv-section
  [title]="'Courses & Certificates'"
  [items]="coursesItems"
></cv-section>
</section>